@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster {
    font-family: 'Lobster', sans-serif;
    font-size: x-large;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000 url('../images/background.gif') fixed;
    color: #fff;
}

.jumbotron {
    font-size: 20px;
    padding: 12px;
    background: #111 url('../images/header.jpg') left center repeat-x;
    text-align: center;
    color: #fff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
	border-bottom: 1px solid #555;
	padding-left: 25px;
	padding-bottom: 10px;
}

a {
    color: #fff;
}

.featured-text {
    text-indent: 3%;
    text-align: justify;
    line-height: 2;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;;
}

nav {
    text-align: center;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.3);
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

nav a:hover, nav a:active {
    font-weight: bold;
    color: white;
    background-color: #555;
	border: none;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

.card {
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile header {
    text-align: center;
}

footer {
    background-color: #000;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    width: 100%;
	border-top: 2px solid #555;
}